[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-restful = "*"
flask = "*"
flask-migrate = "*"
pytest = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.11"
